

/* Landing page hero
=========================================== */
.hero-wrapper {
    height: 86vh;
}

.hero-holder {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.hero-img {
    
    width: 100%;
    height: inherit;
    background-size: cover;
    background-image: url('../images/bg1.jpg');
    background-position: top center;
    background-repeat: no-repeat;
}

/* Navigation bar
=========================================== */
.dummy-nav-header {
    height: 105px;
    background-color: transparent;
}

.nav-fixer {
    position: sticky;
    top: 0;
    /* left: 0; */
    background-color: transparent;
    height: 105px;
    
    z-index: 1;
}


.main-nav {
    margin: var(--padding-initial);
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    /* width: 100%; */
    transition: all 1s ease;
}

.logo-img {
    height: 100px;
    transition: all 1s ease;
}


.nav-items {
    font: 14px var(--spartan);
    margin: auto 0;
    transition: all 0.1s ease;
}

#menu, #enquire {
    transition: margin 1s ease;
}

#menu:hover {
    color: #ea069e;
}

#enquire:hover {
    color: #79bcec;
}

/* Subtitle
=========================================== */
.se-homecoming {
    margin: 0 auto;
    padding: 235px 0 10px;
    color: white;
    font: 14px var(--comfortta);
    letter-spacing: 1px;
    text-transform: uppercase;
    width: -moz-fit-content;
    width: fit-content;
    animation: 1s fadeInUpAnimation ease-out;
    animation-delay: 0;
    opacity: 0;
    animation-fill-mode: forwards;
    
}

/* Title (Words)
=========================================== */
.words {
    font: 30px var(--xiaowei);
    color: white;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto 0;
    animation: 1s fadeInUpAnimation ease-out;
    animation-delay: 1s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeInUpAnimation {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 60px, 0);
        transform: translate3d(0, 60px, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* Know More button
=========================================== */
.know-more {
    position: relative;
    font: 14px var(--comfortta);
    text-transform: uppercase;
    color: rgb(70, 70, 70);
    margin: 30px auto;
    border-radius: 30px;
    background-color: white;
    padding: 13px 35px;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    opacity: 0.6;
    transition: all ease 0.5s;
}


.know-more:hover {
    opacity: 1;
}

.know-more::before {
    content: '';
    position: absolute;
    left: -80px;
    top: 15px;
    opacity: 0;

    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    animation: point 10s infinite;
}

@keyframes point {
    0% {transform: rotate(-45deg) translate(0, 0);}
    47% {transform: rotate(-45deg) translate(0, 0); opacity: 0;}
    48% {transform: rotate(-45deg) translate(0, 0); opacity: 1;}
    50% {transform: rotate(-45deg) translate(10px, 10px);}
    55% {transform: rotate(-45deg) translate(0, 0);}
    58% {transform: rotate(-45deg) translate(10px, 10px);}
    61% {transform: rotate(-45deg) translate(0, 0); opacity: 1;} 
    63% {transform: rotate(-45deg) translate(0, 0); opacity: 0;} 
    66.1% {transform: rotate(-45deg) translate(0, 0); opacity: 0;} 
    78% {transform: rotate(-45deg) translate(0, 0); opacity: 0;} 
    80% {transform: rotate(-45deg) translate(0, 0); opacity: 1;} 
    82% {transform: rotate(-45deg) translate(10px, 10px);}
    87% {transform: rotate(-45deg) translate(0, 0); opacity: 1;} 
    89% {transform: rotate(-45deg) translate(0, 0); opacity: 0;}
    100% {transform: rotate(-45deg) translate(0, 0);}
}

/* Countdown timer
=========================================== */
#countdown-timer {
    cursor: default;
    position: absolute;
    left: 6%;
    bottom: 50px;
    font: 18px var(--comfortta);
    color: white;
    opacity: 0.65;
    z-index: -1;
    transition: all ease .7s;
}

#countdown-timer:hover {
    opacity: 1;
}

/* Mouse scrolling
=========================================== */
.middle {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mouse {
    width: 30px;
    height: 50px;
    border: 1.5px solid white;
    border-radius: 60px;
}

.mouse::before {
    content: "";
    width: 7.5px;
    height: 7.5px;
    position: absolute;
    top: 30px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 1;
    animation: mouse 1.3s infinite;
}

@keyframes mouse {
    from {
        opacity: 1;
        top: 10px;
    }
    to {
        opacity: 0;
        top: 25px;
        height: 12px;
    }
}